<!-- app/views/shared/_modal.html.erb -->
<div class="modal fade" id="newListModal" tabindex="-1" aria-labelledby="newListModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @list, url: lists_path, local: true do |form| %>
          <div class="mb-3">
            <%= form.label :name, "List Name" %>
            <%= form.text_field :name, class: "form-control", required: true %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="submitNewListForm()">Add New List</button>
      </div>
    </div>
  </div>
</div>

<script>
  function submitNewListForm() {
    document.querySelector("#newListModal form").submit();
  }
</script>