<div class="d-flex justify-content-between align-items-start mt-4">
  <div>
    <h1>Your Movie Lists</h1>
    <p><%= @status  %></p>
  </div>
     <%= render 'lists/modal' %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newListModal">
      Add New List
    </button>
</div>

<ul>

  <% @lists.reverse_each do |list| %>
   <li>
    <%= link_to list.name, list_path(list)  %>  
   </li>
    <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, width: 400, height: 300, crop: :thumb %>  
    <% end %>
  <% end %>

</ul>
