// style="position: relative; width: 100%; padding-top: 56.25%; overflow: hidden;"

.imgOverflow {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.rating {
 position: absolute; 
 top: 20px; 
 right: 20px; 
 background-color: white; 
 padding: 10px 20px; 
 border-radius: 50px; 
 box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
  }
}

.no-underline {
  text-decoration: none;
}

.card-radius {
  border-radius: 10px; /* Increase this value to make the corners more rounded */
  overflow: hidden; /* Ensure content doesn't overflow the rounded corners */
}
